.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accent {
  color: var(--logo-color);
}

.accent-footer {
  color: var(--white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap-top));
  margin-left: calc(-1 * var(--card-gap-left));
}

.card-item {
  margin-top: var(--card-gap-top);
  margin-left: var(--card-gap-left);
  flex-basis: calc(100% / var(--card-item) - var(--card-gap-left));
}

.conteiner {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__page {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
}
.header__list {
  display: flex;
  align-items: center;
  color: var(--black-color);
}
.header__contacs-list {
  display: flex;
  margin-left: auto;
}

.header__list .header__link.current {
  color: var(--blue-color);
}

.header__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--blue-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.header__logo,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__contacs-item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: flex;
  align-items: center;
  position: relative;
  transition: color var(--cubic-bezier);
}

.header__link:hover,
.header__link:focus {
  color: var(--blue-color);
  transition: var(--cubic-bezier);
}

.contacs-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
  background-color: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

button.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--cubic-bezier), box-shadow var(--cubic-bezier), border-radius var(--cubic-bezier);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--dark-blue-color);
}

.peculiarities {
  --card-item: 4;
}

.peculiarities-item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background: var(--grey-color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-rect::before {
  background-image: url(../image/antenna.svg);
}

.icon-clock::before {
  background-image: url(../image/clock.svg);
}

.icon-diagram::before {
  background-image: url(../image/diagram.svg);
}

.icon-ilon::before {
  background-image: url(../image/astronaut.svg);
}

.peculiarities-title {
  margin-bottom: 10px;
  color: var(--black-color);
}

.about {
  padding-top: 0;
}

.about-item {
  position: relative;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--white-color);
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px;
}

.team {
  background: var(--grey-color);
  --card-item: 4;
}

.team-container {
  padding: 30px;
}

.team-list {
  display: flex;
}

.team-title {
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 10px;
}

.team-item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text,
.team-title {
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--cubic-bezier), background-color var(--cubic-bezier);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.clients-list {
  --card-item: 6;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-item {
  color: var(--soc-grey-color);
}

.clients-link {
  color: inherit;
  display: flex;
  fill: var(--soc-grey-color);
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: fill var(--cubic-bezier), border var(--cubic-bezier);
}

.clients-soc-icon {
  fill: currentColor;
}

.clients-link:focus,
.clients-link:hover {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-color);
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
  width: 231px;
}

address {
  font-style: inherit;
  width: 231px;
}

.footer-link[target=_blank] {
  color: var(--white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(225, 225, 225, 0.6);
  transition: color var(--cubic-bezier);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--blue-color);
}

.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white-color);
  text-transform: uppercase;
}

.footer-contant:not(:last-child) {
  margin-right: 70px;
}

.footer-contant:last-child {
  margin-left: auto;
}

.footer .footer-container {
  display: block;
}

.title-footer {
  margin-bottom: 20px;
  display: block;
}

.footer .team-soc-link {
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--cubic-bezier);
}

.footer .team-soc-link:hover,
.footer .team-soc-link:focus {
  background-color: var(--blue-color);
}

.footer-send {
  display: flex;
}

.footer-input {
  width: 358px;
  position: relative;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
}

.footer-send-icon {
  margin-left: 10px;
}

.filter {
  padding-top: 94px;
}

.filter-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

button.filter-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  transition: background-color var(--cubic-bezier), box-shadow var(--cubic-bezier), color var(--cubic-bezier);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--cubic-bezier);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.portfolio-bac {
  position: relative;
  overflow: hidden;
}

.portfolio-bac-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  transform: translateY(100%);
  transition: transform var(--cubic-bezier), background-color var(--cubic-bezier), color var(--cubic-bezier);
}

.portfolio-link:hover .portfolio-bac-text,
.portfolio-link:focus .portfolio-bac-text {
  transform: translateY(0);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-footer {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  transition: opacity var(--cubic-bezier), visibility var(--cubic-bezier);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--cubic-bezier);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: fill var(--cubic-bezier);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--blue-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--black-color);
}

.modal-field {
  margin-bottom: 10px;
}

.wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--cubic-bezier);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--blue-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--cubic-bezier);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--blue-color);
}

.modal-area-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}

.modal-text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--dark-color);
  transform-origin: border var(--cubic-bezier);
}

.modal-area-text:hover,
.odal-area-text:focus {
  border: 1px solid var(--blue-color);
}

.checkbox-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.checkbox-input {
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-text {
  display: flex;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
}

.checkbox-span {
  width: 16px;
  height: 15px;
  position: relative;
  border: 2px solid #212121;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: backgraund-color var(--cubic-bezier), border var(--cubic-bezier);
}

.check-icon {
  width: 100%;
  height: 100%;
  fill: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--cubic-bezier);
}

.checkbox-input:focus + .checkbox-text span,
.checkbox-input:hover + .checkbox-text span {
  border-color: var(--blue-color);
}

.checkbox-input:checked + .checkbox-text span {
  background-color: var(--blue-color);
  border: 2px solid var(--blue-color);
}

.checkbox-input:checked + .checkbox-text .check-icon {
  fill: var(--white-color);
}

.checkbox-link {
  display: inline;
  margin-left: 1px;
  color: var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --black-color: #212121;
  --dark-color: #757575;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --grey-color: #F5F4FA;
  --logo-color: #000000;
  --footer-color: #2F303A;
  --card-gap-top: 30px;
  --card-gap-left: 30px;
  --card-item: 3;
  --soc-grey-color: #AFB1B8;
  --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --dark-blue-color: #188CE8;
}/*# sourceMappingURL=main.css.map */