.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--footer-color);
}

.footer .conteiner {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    margin-bottom: 20px;
    display: block;
    width: 231px;
}

address {
    font-style: inherit;
    width: 231px;
}

.footer-link[target="_blank"] {
    color: var(--white-color);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(225, 225, 225, 0.6);
    transition: color var(--cubic-bezier);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--blue-color);
}

.title-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--white-color);
    text-transform: uppercase;
}

.footer-contant:not(:last-child) {
    margin-right: 70px;
}

.footer-contant:last-child {
    margin-left: auto;
}

.footer .footer-container {
    display: block;
}

.title-footer {
    margin-bottom: 20px;
    display: block;
}

.footer .team-soc-link {
    color: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--cubic-bezier);
}

.footer .team-soc-link:hover,
.footer .team-soc-link:focus {
    background-color: var(--blue-color);
}


.footer-send {
    display: flex;
}

.footer-input {
    width: 358px;
    position: relative;
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding-left: 16px;
}

.footer-send-icon {
    margin-left: 10px;
}